.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* background: linear-gradient(135deg, #74b9ff, #a29bfe); */
  font-family: 'Poppins', sans-serif;
}

.signup-box {
  background-color: white;
  padding: 40px 30px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  width: 450px;
}

.signup-box h2 {
  text-align: center;
  color: #2d3436;
  margin-bottom: 10px;
}

.signup-box p {
  text-align: center;
  color: #636e72;
  margin-bottom: 25px;
  font-size: 14px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 6px;
  color: #2d3436;
}

.form-group input {
  width: 90%;
  padding: 10px;
  border: 1px solid #b2bec3;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s;
}

.form-group input:focus {
  border-color: #0984e3;
}

.btn {
  width: 100%;
  background-color: #0984e3;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

.btn:hover {
  background-color: #74b9ff;
}

.forgot-password {
  text-align: center;
  margin-top: 15px;
}

.forgot-password a {
  color: #0984e3;
  text-decoration: none;
  font-size: 14px;
}

.forgot-password a:hover {
  text-decoration: underline;
}
