.hero-container {
    display: flex;
    gap: 20px;
    padding: 40px;
    background: #fff;
    flex-wrap: wrap;

}

/* LEFT SECTION */
.hero-left {
    position: relative;
    flex: 2;
    border-radius: 16px;
    overflow: hidden;

}

.hero-banner-img {
    /* width: 100%;
  height: 100%; */
    height: 420px;
    width: 1000px;
    object-fit: cover;
    border-radius: 16px;
}

.hero-text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    background: rgba(0, 0, 0, 0.55);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
}

.hero-subtitle {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
    letter-spacing: 0.5px;
}

.hero-title {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}

.hero-desc {
    font-size: 16px;
    max-width: 500px;
    color: #ddd;
    margin-bottom: 30px;
}

.hero-btn {
    background-color: #3b57f7;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 10px 25px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    width: 200px;
}

.hero-btn:hover {
    background-color: #253edb;
}

/* RIGHT SECTION */
.hero-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;

}

.hero-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    border-radius: 16px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.blue-bg {
    background-color: #e7f3ff;
}

.gray-bg {
    background-color: #f2f1ec;
}

.hero-card-text h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.hero-card-text p {
    font-size: 14px;
    color: #555;
}

.highlight {
    color: #3b57f7;
    font-weight: 600;
}

.hero-card-img {
    object-fit: contain;
    height: 150px;
    width: 100px;
    margin-left: -320px;
}

/* Responsive */
@media (max-width: 1024px) {
    .hero-container {
        flex-direction: column;
    }

    .hero-right {

        flex-direction: row;
    }

    .hero-card {
        flex: 1;
    }
}

@media (max-width: 768px) {
    .hero-right {
        flex-direction: column;
    }
}