
.checkout-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: -140px;
  text-align: center;
}

/* Page Title */
.checkout-title {
  font-size: 2.5rem;
  color: #1e3a8a;
  margin-bottom: 40px;
}

/* Box styling */
.checkout-box {
  /* background-color: #fff; */
  padding: 50px 70px;
  border-radius: 12px;
  /* box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.1); */
  transition: transform 0.3s ease;
}

.checkout-box:hover {
  transform: scale(1.02);
}


.checkout-icon {
  font-size: 80px;
  color: #0ea5e9;
  margin-bottom: 20px;
}


.checkout-message {
  font-size: 18px;
  color: #374151;
  margin-bottom: 30px;
}

/* Button */
.checkout-btn {
  background-color: #2563eb;
  color: white;
  padding: 12px 28px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.checkout-btn:hover {
  background-color: #1d4ed8;
  transform: scale(1.05);
}

/* Responsive design */
@media (max-width: 600px) {
  .checkout-box {
    padding: 40px 20px;
  }

  .checkout-title {
    font-size: 2rem;
  }

  .checkout-message {
    font-size: 16px;
  }

  .checkout-btn {
    font-size: 14px;
    padding: 10px 20px;
  }

  .checkout-icon {
    font-size: 60px;
  }
}